/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
  --primary: #0A0A0A;
  --secondary: #FAE7D9;
  --accent: #333333;
}

html {
  background-color: #fafafb;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
}

body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "usual",sans-serif;
  line-height: 1.25;
}

.navbar-brand.navbar-item,
a.navbar-item {
  padding-top: 2rem;
}

.navbar-item img {
  max-height: 2.25rem;
}

.is-size-1 {
  font-size: 3.675rem !important;
}

.is-size-2 {
  font-size: 2.95rem !important;
}

.title {
  font-weight: 800;
  word-break: inherit;
  line-height: 1.05;
  letter-spacing: 0.05rem;
}

.hero.is-dark a.navbar-item:hover {
  background-color: transparent;
}

.hero.is-dark a.navbar-item:hover svg {
  fill: var(--secondary);
}

.hero.is-dark a.navbar-item svg {
  fill: white;
  max-height: 1.75rem;
}

.hero-background-image {
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: 48.75%;
  background-color: white;
  background-position: left top 60%;
}

.hero-content {
  max-width: 392px;
  margin: 0 auto;
}

.column.is-hidden-tablet {
  padding: 2.5rem 0 0;
}

.letter-spacing {
  letter-spacing: 10px;
}

.hero-content a {
  margin: 20px 0;
}

.button {
  padding: calc(.85em - 1px) 1.05em;
  display: inline-table;
  height: unset;
}

.button.is-black:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.columns.is-multiline.is-gapless .column {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 525px;
}

.columns.is-multiline.is-gapless > .column:first-child {
  background-color: var(--secondary);
  order: 1;
}

.columns.is-multiline.is-gapless > .column:first-child .title,
.columns.is-multiline.is-gapless > .column:first-child .subtitle {
  color: var(--accent);
}

.columns.is-multiline.is-gapless > .column:nth-child(2) {
  order: 2;
  background-image: url(../img/bodyShot.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.columns.is-multiline.is-gapless > .column:nth-child(3) {
  order: 4;
  background-color: var(--accent);
}

.columns.is-multiline.is-gapless > .column:last-child {
  order: 3;
  background-image: url(../img/buckle.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.column-written-content {
  max-width: 440px;
  padding: 1.5rem;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

.section.herstory {
  background-image:url('../img/herstory.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact {
  background-color: white;
}

.column > small {
  margin-top: 10px;
}

form {
  margin-top: 15px;
}

.asterisk {
  color: #be3030;
}

.form-submit-message {
  height: 336px;
  margin-top: 21px;
}

.control.has-icons-right {
  margin-bottom: 1.5rem;
}

.control.has-icons-right svg {
  fill: #dbdbdb;
}

.label.is-medium.has-text-black {
  padding-left: calc(.625em - 1px);
  margin-bottom: .25em;
}

input[type="email"]:valid ~ .icon.is-right svg {
  fill: var(--accent);
}

.input.is-medium {
  border: 0;
  border-bottom: 1px solid #B5B5B5;
}

.input:focus {
  border-color: var(--accent);
  border-width: 2px;
}

.field:not(:last-child) {
  margin-bottom: 3rem;
}

.footer {
  padding-bottom: 3rem;
}

.column svg {
  fill: white;
}

.column a:hover svg {
  fill: var(--secondary);
}

.content a,
.footer a {
  text-decoration: underline;
}

.content a {
  color: var(--primary);
}

.footer a {
  color: white;
}

.content a:hover,
.footer a:hover {
  text-decoration: none;
}

.content a:hover {
  color: var(--accent);
}

.footer a:hover {
  color: var(--secondary);
}

p.is-inline-block {
  margin-left: .5rem;
}

.columns:not(:last-child),
.has-text-centered.footer-content {
  margin-bottom: calc(2rem - .75rem) !important;
}

@media all and (-webkit-min-device-pixel-ratio : 1.5),
       all and (-o-min-device-pixel-ratio: 3/2),
       all and (min--moz-device-pixel-ratio: 1.5),
       all and (min-device-pixel-ratio: 1.5) {
  .hero-background-image {
    background-image: url(../img/hero-img@2x.jpg);
  }
  .columns.is-multiline.is-gapless > .column:nth-child(2) {
    background-image: url(../img/bodyShot@2x.jpg);
  }
  .columns.is-multiline.is-gapless > .column:last-child {
    background-image: url(../img/buckle@2x.jpg);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1087px) {
  .navbar-brand.navbar-item,
  a.navbar-item {
    padding-left: 1.5rem;
  }

  .section.is-large {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: none;
  }
  .hero-body {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-body .hero-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-body img {
    width: 768px;
  }

  .columns.is-multiline.is-gapless .column {
    min-height: 425px;
  }

  .no-spacer-margin {
    width: 100%;
    margin: 0;
  }

  .herstory.section.is-large {
    background: #E7E7E7;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .herstory-info {
    max-width: 440px;
    padding: 5.5rem 1.5rem 7rem;
    margin: 0 auto;
  }

  .margin-zero-auto-mobile {
      margin: 0 auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
